NODE_ENV=development

PORT=2000

MONGO_URI=mongodb+srv://jeeturajput0302_db_user:2bfKbgegDPh9QZGe@backendtest.wpqp9lt.mongodb.net/test

JWT_SECRET=mySuperSecretKey123
JWT_EXPIRES_IN=7d

BACKEND_URI=http://localhost:2000
FRONTEND_URL=http://localhost:5173

GOOGLE_CLIENT_ID=<YOUR_GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<YOUR_GOOGLE_CLIENT_SECRET>
GOOGLE_CALLBACK_URL=http://localhost:2000/api/user/google/callback

# SESSION_SECRET=<YOUR_SESSION_SECRET>
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
BCRYPT_ROUNDS=12
