NODE_ENV=development
PORT=2000

MONGO_URI=YOUR_MONGOSSES
JWT_SECRET=generate-a-long-random-secret
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=12
FRONTEND_URL=http://localhost:5173
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2YTdjMTdkZDIwMjk0MTNjOTJmYzU2NmMiLCJlbWFpbCI6ImdhdXJhdmFrdW1hckBlYW1pbC5jb20iLCJpYXQiOjE3ODY1MTc0NjksImV4cCI6MTc4NzEyMjI2OX0.QjLXv6_MAAoX-KMr-P8L2laRCGvkVp3TgrpqdsgnlxA